In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [69]:
#using a tsv(tab) as reviews might contain commas or double quotes

In [70]:
dataset=pd.read_csv("Restaurant_Reviews.tsv",delimiter="\t",quoting=3)
#ignoring double quotes,value=3

In [71]:
dataset

                                                Review  Liked
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]

In [86]:
#text cleaning

In [73]:
import re

In [74]:
dataset["Review"][0]

'Wow... Loved this place.'

In [75]:
review=re.sub("[^a-zA-Z]"," ",dataset["Review"][0])
#what we dont want to remove
#replace with space
#what we have to change
review

'Wow    Loved this place '

In [76]:
#lower case
review=review.lower()
review

'wow    loved this place '

In [77]:
#remove non significant words
#e.g the,and,in etc

In [78]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Devang
[nltk_data]     Mehrotra\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [79]:
review=review.split()
review

['wow', 'loved', 'this', 'place']

In [80]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [81]:
#stemming i.e. keeping the root of the words to simplify even more

In [82]:
ps=PorterStemmer()

In [83]:
#set makes it faster to go through than a list
review=[ps.stem(word) for word in review if not word in set(stopwords.words("English"))]

In [84]:
#relevant words
review

['wow', 'love', 'place']

In [85]:
#back to string
review=" ".join(review)
review

'wow love place'