In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
dataset=pd.read_csv("Churn_Modelling.csv")

In [23]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [24]:
X=dataset.iloc[:,3:13].values
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [25]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('one_hot_encoder', OneHotEncoder(), [1,2])],remainder='passthrough')
X= np.array(ct.fit_transform(X), dtype=np.float)

In [27]:
X=X[:,[1,2,3,5,6,7,8,9,10,11,12]]

In [28]:
y=dataset.iloc[:,-1].values

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [30]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [32]:
X_train

array([[-0.5698444 ,  1.74309049,  1.09168714, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [ 1.75486502, -0.57369368, -0.91601335, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [-0.5698444 , -0.57369368,  1.09168714, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [-0.5698444 , -0.57369368, -0.91601335, ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-0.5698444 ,  1.74309049,  1.09168714, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [ 1.75486502, -0.57369368,  1.09168714, ...,  0.64259497,
        -1.03227043,  0.32472465]])

In [33]:
X_test

array([[ 1.75486502, -0.57369368,  1.09168714, ...,  0.64259497,
         0.9687384 ,  1.61085707],
       [-0.5698444 , -0.57369368,  1.09168714, ...,  0.64259497,
        -1.03227043,  0.49587037],
       [-0.5698444 ,  1.74309049,  1.09168714, ...,  0.64259497,
         0.9687384 , -0.42478674],
       ...,
       [-0.5698444 ,  1.74309049, -0.91601335, ...,  0.64259497,
        -1.03227043,  0.71888467],
       [ 1.75486502, -0.57369368, -0.91601335, ...,  0.64259497,
         0.9687384 , -1.54507805],
       [ 1.75486502, -0.57369368, -0.91601335, ...,  0.64259497,
        -1.03227043,  1.61255917]])

In [34]:
import keras

In [35]:
from keras.models import Sequential
#required to initialise the ANN
from keras.layers import Dense
#used to create layers in ANN

In [36]:
classifier=Sequential()

In [37]:
#first hidden layers
classifier.add(Dense(6,input_dim=11,kernel_initializer="uniform",activation="relu"))
#choose number of hidden layer nodes as avg of input layer and output layer
#or use paramteter tuning to select
#input layer nodes(only specify the first time)
#kernel_initializer=uniform to initialise weights close to 0
#activation function

In [38]:
classifier.add(Dense(6,kernel_initializer="uniform",activation="relu"))

In [39]:
classifier.add(Dense(1,kernel_initializer="uniform",activation="sigmoid"))
#if more than 2 categories using softmax function else sigmoid

In [40]:
classifier.compile(optimizer="adam",loss='binary_crossentropy',metrics=['accuracy'])
#loss is for 2 output categories else categorical_crossentropy

In [41]:
classifier.fit(X_train,y_train,epochs=10, batch_size=10)

Epoch 1/10
8000/8000 [==============================] - 3s 416us/step - loss: 0.4848 - accuracy: 0.7966
Epoch 2/10
8000/8000 [==============================] - 1s 109us/step - loss: 0.4045 - accuracy: 0.8102
Epoch 3/10
8000/8000 [==============================] - 1s 108us/step - loss: 0.3763 - accuracy: 0.8414
Epoch 4/10
8000/8000 [==============================] - 1s 108us/step - loss: 0.3591 - accuracy: 0.8540
Epoch 5/10
8000/8000 [==============================] - 1s 107us/step - loss: 0.3519 - accuracy: 0.8572
Epoch 6/10
8000/8000 [==============================] - 1s 107us/step - loss: 0.3486 - accuracy: 0.8575
Epoch 7/10
8000/8000 [==============================] - 1s 123us/step - loss: 0.3476 - accuracy: 0.8593
Epoch 8/10
8000/8000 [==============================] - 1s 109us/step - loss: 0.3455 - accuracy: 0.8612
Epoch 9/10
8000/8000 [==============================] - 1s 109us/step - loss: 0.3451 - accuracy: 0.8601
Epoch 10/10
8000/8000 [==============================] - 1s 112us/step - loss: 0.3436 - accuracy: 0.8609

In [42]:
y_pred = classifier.predict(X_test)

In [47]:
y_pred=(y_pred>0.5)

In [48]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [49]:
scores = classifier.evaluate(X_test,y_test)
print("%s: %.2f%%" % (classifier.metrics_names[1], scores[1]*100))

2000/2000 [==============================] - 0s 42us/step
accuracy: 86.90%

In [50]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

In [51]:
cm

array([[1540,   55],
       [ 207,  198]], dtype=int64)